
@{
    Layout = null;
    ViewBag.Title = "eHariyali";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | Login</title>
</head>
<body>
    <div> 
        Hello World
    </div>
</body>
</html>
